@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn {
        @apply py-2 px-6 rounded;
    }

    .btn-orange {
        @apply text-sm shadow transition ease-in duration-200 font-medium text-center rounded text-rose-100 bg-orange-600 hover:bg-orange-300;
    }
    .btn-add{
        @apply fixed text-2xl rounded-full
    }
    .btn-add-right{
        bottom: 20px;
        right : 20px;
    }
    .card {
         @apply block rounded-lg shadow-lg bg-white max-w-sm text-center
        }
    .toggle-checkbox:checked {
        @apply: right-0 border-green-400;
          right: 0;
          border-color: #68D391;
    }
    .toggle-checkbox:checked + .toggle-label {
        @apply: bg-green-400;
          background-color: #68D391;
    }
    .fit-content{
        overflow-wrap: break-word;
    }
    .btn-ok{
        @apply text-white  bg-gray-900 hover:bg-orange-600
        focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg
        text-sm px-5 py-2.5 text-center w-20
         dark:focus:ring-blue-800
    }
    .modal-position{
        /* position:absolute; */
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .form-input-login{
       @apply bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm
         rounded-lg 
         block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600
         dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500
         dark:focus:border-blue-500
    }
    .pin-img{
        background: url('../../assets/pin.jpeg') no-repeat right top;
        background-size: auto 100%;
    }
    li{
        cursor: pointer;
    }
    .no-show{
        display:none;
    }
    .modal-height{
        min-height: 300px;
    }
    /* class="flex items-center rounded-lg bg-[#FF7308] px-4 py-2.5 text-xl font-bold text-white hover:bg-[#E56707] */
}

/* bg-emerald-500 bg-lime-200 bg-orange-300 bg-orange-600 bg-gray-900 */